.headerGeneral .nav-item:hover {
  background-color: #f7d197;
  border-radius: 1rem; }

.gridInicio {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-rows: 0.5fr 3.5fr 0.5fr;
  max-height: 100vh; }

.headerGeneral {
  background-color: #fae2ce;
  text-align: center;
  align-items: center;
  font-family: 'Calistoga', cursive;
  color: #240624;
  max-width: 100vw;
  margin: 0;
  grid-area: header; }
  .headerGeneral .imgHeaderGeneral {
    width: 12rem; }
  .headerGeneral .navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center; }
  .headerGeneral .hamb {
    display: flex;
    justify-content: center;
    align-items: center; }

.mainGeneral {
  background-color: #ffeedd;
  text-align: center;
  grid-area: main; }
  .mainGeneral .bienvenidos {
    font-size: 2rem; }
  .mainGeneral .bienvenidos:hover {
    color: #f7c882; }
  .mainGeneral .imgCialoInicio {
    width: 20rem; }

.footerGeneral {
  background-color: #fae2ce;
  text-align: center;
  padding: 10px;
  grid-area: footer; }
  .footerGeneral .divAsideInicio {
    display: flex;
    justify-content: center;
    align-items: center; }
  .footerGeneral .logos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem; }
  .footerGeneral .logoInstagram {
    width: 80px; }
  .footerGeneral .logoFacebook {
    width: 65px;
    margin: 8px; }

@media screen and (min-width: 600px) {
  .h1General {
    font-size: 50px; }
  .navbar-nav {
    flex-direction: row; } }

@media screen and (min-width: 1024px) {
  .headerGeneral {
    display: flex;
    justify-content: space-between; }
    .headerGeneral .imgHeaderGeneral {
      width: 10rem; }
    .headerGeneral .h1General {
      font-size: 40px; }
  .divMainOpi {
    display: flex;
    justify-content: center;
    align-items: center; }
  .mainConocenos {
    padding: 5rem; } }

/*CATALOGO*/
.row {
  margin: 0%; }

.card {
  background-color: white; }
  .card .texto-1 {
    margin-top: 38px; }
  .card .texto-2 {
    margin-top: 15px; }
  .card .texto-3 {
    margin-top: 88px; }
  .card .texto-4 {
    margin-top: 75px; }
  .card .texto-5 {
    margin-top: 95px; }
  .card .texto-6 {
    margin-top: 70px; }
  .card .btn {
    background-color: #fae2ce;
    color: black;
    border: solid 0.5px;
    border-radius: 10px;
    padding: 0.5; }
  .card .btn:hover {
    background-color: #d4b17c;
    color: white; }

/*CONOCENOS*/
.mainConocenos {
  display: flex;
  justify-content: space-evenly;
  background-color: #ffeedd;
  /*  GRADIANTES */ }
  .mainConocenos .loremConocenos {
    text-align: center;
    font-size: x-large;
    text-align: center;
    border-radius: 2px;
    border: 2px solid #887a7a;
    margin: 50px;
    color: #0c0009; }
  .mainConocenos .loremConocenos {
    background: radial-gradient(circle, #fae2ce, white); }

/*CONTACTO*/
.mainContacto {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #ffeedd;
  align-items: center;
  padding: 5rem; }

.legendContacto {
  background-color: #fae2ce;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: black solid 0.5px; }

.formContacto {
  margin: 0 auto;
  background-color: white;
  border-radius: 10px;
  border: black solid 0.5px; }

.divForm {
  margin: 10px;
  text-align: left; }

.botonForm {
  margin-top: 25px;
  margin-bottom: 10px; }
  .botonForm .btnForm {
    background-color: #fae2ce;
    color: black;
    border: #fae2ce;
    border-radius: 10px;
    padding: 0.5rem; }
  .botonForm .btnForm:hover {
    background-color: #d4b17c;
    color: white; }

.footerContacto {
  background-color: #d6b6d6;
  text-align: center; }

.h3Contacto {
  font-size: 25px;
  text-align: center;
  font-family: 'Calistoga', cursive; }

.mainContacto {
  padding: 8rem; }

/*OPINIONES*/
.gridOpi {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-rows: 0.5fr 3.5fr 0.5fr;
  max-height: 100vh; }

.headerOpi {
  grid-area: header; }

.mainOpiniones {
  background-color: #ffeedd;
  text-align: center;
  padding: 20px;
  flex-wrap: nowrap;
  grid-area: main; }
  .mainOpiniones .imgOpi {
    width: 5rem; }
  .mainOpiniones .divOpinionesGeneral {
    background-color: #faf9f6;
    margin: 10px;
    border-radius: 10px; }
  .mainOpiniones .h3MainOpiniones {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 60px;
    display: flex;
    flex-wrap: nowrap; }
  .mainOpiniones .h2MainOpiniones {
    background-color: #fae2ce;
    font-size: 40px; }
  .mainOpiniones .h3Opiniones {
    font-size: 25px;
    text-align: center;
    font-family: 'Calistoga', cursive; }

.footerOpi {
  grid-area: footer; }
