.headerGeneral .nav-item:hover {
  background-color: #df50df;
  border-radius: 1rem; }

.headerGeneral {
  background-color: #d6b6d6;
  text-align: center;
  align-items: center;
  font-family: 'Calistoga', cursive;
  color: #240624;
  max-width: 100vw;
  margin: 0; }
  .headerGeneral .imgHeaderGeneral {
    width: 12rem; }
  .headerGeneral .hamb {
    display: flex;
    justify-content: center;
    align-items: center; }

.mainGeneral {
  background-color: #fab0fa;
  text-align: center; }
  .mainGeneral .bienvenidos {
    font-size: 2rem; }
  .mainGeneral .bienvenidos:hover {
    color: #ec2cec; }
  .mainGeneral .imgCialoInicio {
    width: 20rem; }

.logoInstagram {
  width: 45px; }

.logoFacebook {
  width: 34px;
  margin: 10px; }

.footerGeneral {
  background-color: plum;
  text-align: center;
  padding: 10px; }

.divAsideInicio {
  display: flex;
  justify-content: center;
  align-items: center; }

.logos {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem; }

@media screen and (min-width: 600px) {
  .h1General {
    font-size: 50px; } }

@media screen and (min-width: 1024px) {
  .divMainOpi {
    display: flex;
    justify-content: center;
    align-items: center; }
  .mainConocenos {
    padding: 5rem; } }

/*CATALOGO*/
.row {
  margin: 0%; }

.card {
  background-color: plum; }
  .card .texto-1 {
    margin-top: 30px; }
  .card .texto-2 {
    margin-top: 45px; }
  .card .texto-3 {
    margin-top: 100px; }
  .card .texto-5 {
    margin-top: 115px; }
  .card .texto-6 {
    margin-top: 75px; }
  .card .btn {
    background-color: #d645f3;
    color: black;
    border: #f82df8 0.5px solid;
    border-radius: 10px;
    padding: 0.5; }
  .card .btn:hover {
    background-color: plum;
    color: white; }

/*CONOCENOS*/
.mainConocenos {
  display: flex;
  justify-content: space-evenly;
  background-color: #fab0fa;
  /*  GRADIANTES */ }
  .mainConocenos .loremConocenos {
    display: flex;
    text-align: center;
    justify-content: space-between;
    font-size: x-large;
    text-align: center;
    border-radius: 10px;
    border: 2px solid #887a7a;
    margin: 50px;
    color: #0c0009; }
  .mainConocenos .loremConocenos {
    background: radial-gradient(circle, #bdbdbd, violet); }

/*CONTACTO*/
.mainContacto {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #f1c6f1;
  align-items: center;
  padding: 10rem; }

.legendContacto {
  background-color: #d6b6d6;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px; }

.formContacto {
  margin: 0 auto;
  background-color: antiquewhite;
  border-radius: 10px; }

.divForm {
  margin: 10px;
  text-align: left; }
  .divForm .contacto {
    background-color: plum; }

.botonForm {
  margin-top: 25px;
  margin-bottom: 10px; }
  .botonForm .btnForm {
    background-color: #d645f3;
    color: black;
    border: #f82df8 5px;
    border-radius: 10px;
    padding: 0.5rem; }
  .botonForm .btnForm:hover {
    background-color: plum;
    color: white; }

.footerContacto {
  background-color: #d6b6d6;
  text-align: center; }

.h3Contacto {
  font-size: 25px;
  text-align: center;
  font-family: 'Calistoga', cursive; }

.mainContacto {
  padding: 8rem; }

/*OPINIONES*/
.mainOpiniones {
  background-color: #f1c6f1;
  text-align: center;
  padding: 20px;
  flex-wrap: nowrap; }

.divOpinionesGeneral {
  background-color: #eb3beb;
  margin: 10px;
  border-radius: 10px; }

.h3MainOpiniones {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 60px;
  display: flex;
  flex-wrap: nowrap; }

.h2MainOpiniones {
  background-color: plum;
  font-size: 40px; }

.h3Opiniones {
  font-size: 25px;
  text-align: center;
  font-family: 'Calistoga', cursive; }
