.headerGeneral .nav-item:hover {
  background-color: #df50df;
  border-radius: 1rem; }

.gridInicio {
  display: grid;
  grid-template-columns: 0.1fr 3fr;
  grid-template-rows: 1fr 2fr;
  grid-template-areas: "headerinicio headerinicio" "aside main" "footer footer"; }

.headerGeneral {
  background-color: plum;
  text-align: center;
  grid-area: headerinicio; }
  .headerGeneral .imgHeaderGeneral {
    width: 15rem; }

.mainGeneral {
  background-color: #fab0fa;
  text-align: center;
  grid-area: main; }
  .mainGeneral .bienvenidos {
    font-size: 4rem;
    padding: 2rem; }
  .mainGeneral .bienvenidos:hover {
    color: #ec2cec; }

.asideInicio {
  background-color: #fab0fa;
  grid-area: aside; }

.divAsideInicio {
  padding-top: 17rem; }

.logoInstagram, .logoFacebook {
  width: 2.5rem;
  margin: 10px; }

.footerGeneral {
  background-color: plum;
  text-align: center;
  padding: 1.2rem;
  grid-area: footer; }

.logos {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem; }

/*CATALOGO*/
/*CONOCENOS*/
/*CONTACTO*/
.mainContacto {
  padding: 8rem; }

/*OPINIONES*/
.mainOpiniones {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fab0fa; }
