//import

@import "utilities/variables";

//mixin

@mixin flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

%botones {
    background-color: rgb(223, 80, 223);
        border-radius: 1rem;
}

//nesting

.gridInicio{
    display: grid;
    grid-template-columns: 0.1fr 3fr;
    grid-template-rows: 1fr 2fr;
    grid-template-areas: "headerinicio headerinicio"
                         "aside main"
                         "footer footer";
}

.headerGeneral{
    background-color: $color-principal;
    text-align: center;
    grid-area: headerinicio;
    
.imgHeaderGeneral{
        width: 15rem;
    }

    .nav-item:hover{
        @extend %botones;
    }
}

.mainGeneral{
    background-color: $color-secundario;
    text-align: center;
    grid-area: main;

    .bienvenidos{
        font-size: 4rem;
        padding: 2rem;
    }

    .bienvenidos:hover{
        color: rgb(236, 44, 236);
    }
}

.asideInicio{
    background-color: $color-secundario;
    grid-area: aside;
}

.divAsideInicio{
    padding-top: 17rem;
}

.logoInstagram, .logoFacebook{
    width: 2.5rem;
    margin: 10px;
}

.footerGeneral{
    background-color: $color-principal;
    text-align: center;
    padding: 1.2rem;
    grid-area: footer;
}

.logos{
    @include flex;
    margin: 1rem;
}

/*CATALOGO*/ 



/*CONOCENOS*/ 

/*CONTACTO*/ 

.mainContacto{
    padding: 8rem;
}

/*OPINIONES*/

.divMainOpi{
    @include flex;
    background-color: $color-secundario;
}
