//import

@import "utilities/variables";

//mixin

@mixin flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

%botones {
    background-color: rgb(223, 80, 223);
        border-radius: 1rem;
}

//nesting

.gridInicio{
    display: grid;
    grid-template-columns: 1fr 0fr;
    grid-template-rows: 1fr 2fr;
    grid-template-areas: "headerinicio headerinicio"
                         "main main"
                         "footer footer";
}

.headerGeneral{
    background-color: rgb(214, 182, 214);
    text-align: center;
    align-items: center;
    font-family: 'Calistoga', cursive;
    color: rgb(36, 6, 36);
    max-width: 100vw;
    margin: 0;
    
.imgHeaderGeneral{
        width: 15rem;
    }

    .nav-item:hover{
        @extend %botones;
    }
}

.mainGeneral{
    background-color: $color-secundario;
    text-align: center;
    grid-area: main;

    .bienvenidos{
        font-size: 4rem;
        padding: 2rem;
    }

    .bienvenidos:hover{
        color: rgb(236, 44, 236);
    }
}

.logoInstagram{
    width: 45px;
}
.logoFacebook{
    width: 34px;
    margin: 10px;
}

.footerGeneral{
    background-color: $color-principal;
    text-align: center;
    padding: 10px;
    grid-area: footer;
}

.divAsideInicio{
    @include flex;
}

.logos{
    @include flex;
    margin: 1rem;
}

@media screen and (min-width:600px){

    .h1General{
        font-size: 50px;
    }
}
    

@media screen and (min-width:1024px){
    .divMainOpi{
        @include flex;
    }
}

/*CATALOGO*/ 

.card{
    background-color: plum;

    .texto-1{
        margin-top: 30px;
    }

    .texto-2{
        margin-top: 45px;
    }

    .texto-3{
        margin-top: 100px;
    }

    .texto-5{
        margin-top: 115px;
    }

    .texto-6{
        margin-top: 75px;
    }

    .btn{
        color: black;
        background: rgb(111, 102, 247);
        border: 2px solid rgb(218, 175, 208);
        border-radius: 6px;
    }
    
    .btn:hover{
        background-color: rgb(240, 71, 240);
        border:rgb(240, 71, 240) ;
    }
    
}

/*CONOCENOS*/ 

.bodyConocenos{
    background-image: url(../img/sala-de-estar.jpg);
    background-repeat: no-repeat;
    background-size: cover; 

    .bodyConocenos{
        background-attachment: fixed;
    }

}

.mainConocenos{
    display: flex;
    justify-content: space-evenly;

    .loremConocenos{
        display: flex;
        text-align: center;
        justify-content: space-between;
        font-size: x-large;
        text-align: center;
        border-radius: 10px;
        border: 2px solid rgb(136, 122, 122);
        margin: 50px;
        color: rgb(12, 0, 9);
    }
    
    /*  GRADIANTES */
    .loremConocenos{
        background: radial-gradient(circle, rgb(189, 189, 189), violet);
    }
}


/*CONTACTO*/

.mainContacto{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgb(241, 198, 241);
    align-items: center;
    padding: 10rem;
}

.legendContacto{
    background-color: rgb(214, 182, 214); 
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.formContacto{
    margin: 0 auto;
    background-color: antiquewhite;
    border-radius: 10px;
}

.divForm{
    margin: 10px;
    text-align: left;
}

.botonForm{
    margin-top: 25px;
    margin-bottom: 10px;
}

.footerContacto{
    background-color: rgb(214, 182, 214);
    text-align: center;
}

 .h3Contacto{
    font-size: 25px;
    text-align: center;
    font-family: 'Calistoga', cursive;
}

.mainContacto{
    padding: 8rem;
}

/*OPINIONES*/

.mainOpiniones{
    background-color: rgb(241, 198, 241);
    text-align: center; 
    padding: 20px;
    flex-wrap: nowrap;
}

.divOpinionesGeneral{
    background-color: rgb(235, 59, 235);
    margin: 10px;
    border-radius: 10px;
}

.h3MainOpiniones{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 60px;
    display: flex;
    flex-wrap: nowrap;
}

.h2MainOpiniones{
    background-color: plum;
    font-size: 40px ;
}

.h3Opiniones{
    font-size: 25px;
    text-align: center;
    font-family: 'Calistoga', cursive;
}
